* {
  text-decoration: none;
  color: inherit;
  display: inherit;
  margin: 0;
  padding: 0;
}

#showcase {
  text-align: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 700px;
  padding-right: 100px;
  background-image: url(../../ex09/img/gigi-logo.png);
  background-size: contain;
  background-size: auto;
  filter: grayscale(100%);
}

#showcase h1 {
  position: relative;
  display: inline-block;
  margin: 50px 25px;
  padding: 50 20px;
  height: 40px;
  text-align: center;
  color: white;
  font-size: 50px;
  width: 100%;
}

#showcase p {
  font-size: 20px;
  color: white;
  display: inline-block;
  margin-top: 20px;
  width: 100%;
}

li {
  display: inline;
  color: white;
  padding: 5px 20px;
}

.container {
  display: inline;
  width: 100%;
}

header {
  box-sizing: border-box;
  background-color: black;
  color: white;
  height: 80px;
  padding-right: 40px;
  padding-inline-start: 100%;
  width: 100%;
}

.current {
  color: red;
  margin-left: 50%;
  padding-right: 30px;
  padding-inline-end: 50px;
}

#newsletter {
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-size: 15px;
  height: 80px;
  width: 100%;
}

#newsletter h1 {
  color: white;
  margin-left: 10%;
  padding-top: 1%;
}

#branding h1 {
  color: white;
}
.highlight {
  color: orangered;
  align-content: flex-start;
  margin-inline-start: initial;
}

form {
  margin-left: 30%;
}

button {
  background-color: orangered;
  width: 8%;
  height: 25px;
}

input {
  height: 25px;
  width: 20%;
  margin-top: 30px;
}

#boxes {
  box-sizing: border-box;
  margin-top: 40px;
  width: 85%;
  height: 60%;
  padding-left: 60%;
  align-content: inline;
}

footer {
  text-align: center;
  background-color: orangered;
  height: 50px;
  width: 100%;
  color: white;
  padding-top: 7px;
  margin-bottom: 7px;
  padding-right: 100px;
}

.box {
  align-items: inline;
}
